.charting_chart-bars_chart {
  overflow: auto;
}

.charting_chart-col {
  float: left;
  text-align: center;
  height: 100%;
  position: relative;
}

.charting_chart-bar {
  transition: all 0.5s linear;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #69c;
}

.charting_chart-responsive {
  padding-top: 24px;
  float: left;
  width: 100%;
}

.charting_chart-responsive .charting_chart-responsive-line {
  float: left;
  width: 100%;
  padding-bottom: 8px;
}

.charting_chart-responsive .charting_chart-color {
  margin-right: 5px;
  float: left;
  min-width: 20px;
}

.charting_chart-responsive .charting_chart-porcent {
  font-weight: bold;
  padding-right: 12px;
  float: left;
}

.charting_chart-bars * {
  box-sizing: border-box;
}

.charting_chart-labels {
  display: block;
  width: 100%;
  position: relative;
}

.charting_chart-bars {
  display: block;
  height: 200px;
  position: relative;
}

.charting_chart-label {
  width: 5%;
  margin: 0 0.5%;
}
