.PercentBarFieldFormatter_container {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  background-color: #ddd;
}

.PercentBarFieldFormatter_amount {
  display: block;
  float: left;
  min-height: 6px;
  padding: 1px 3% 1px 1px;
  opacity: 0;
  text-align: right;
  width: 0;
  height: 24px;
}
